*{
    margin: 0;
}

body{
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.canvas{
    border: 1px solid black;
    &--space-bottom{
        margin-bottom: 20px;
    }
}
.toolbox{
    display: flex;
    justify-content: space-around;
    width: calc(100% - 20px);

    &__functionalities{
        display: flex;
        gap: 20px;
    }
}